<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<style>
@font-face{
    font-family: 'Saitamaar';
    src: url('fonts/Saitamaar.eot') format('eot'),
    url('fonts/Saitamaar.woff2') format('woff'),
    url('fonts/Saitamaar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.aa {
    font-family: 'Saitamaar', 'ＭＳ Ｐゴシック', 'MS PGothic', 'IPAMonaPGothic' !important;
    line-height:18px;
    font-size:16px;
}

body {
   padding-top: 70px;
}
</style>

<div id="app" class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div id="app" class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">DeepAA on Web</a>
        <div class="navbar-text" v-if="modelLoading">
          Model Loading...{{ loadingProgress }}%
        </div>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/tar-bin/DeepAAonWeb" target="_new">DeepAAonWeb (GitHub)</a></li>
        <li><a href="https://github.com/OsciiArt/DeepAA" target="_new">DeepAA (GitHub)</a></li>
      </ul>
    </div>
  </nav>
  <div class="col-md-6">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Original Image {{ inputImage.width }} x {{ inputImage.height }}
        </div>
        <div class="panel-body">
          <form class="form-inline">
            <div class="form-group">
              <input type="file" @change="onFileChange">
            </div>
          </form>
          <img id="img-input" class="img-thumbnail" :src="inputImage.URL" v-on:load="inputImageLoad">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Input Image {{ grayscaleImage.width }} x {{ grayscaleImage.height }}
        </div>
        <div class="panel-body">
          <form class="form-inline">
            <div class="form-group">
              <label for="Output">Output Width:</label>
              <input v-model="outputAA.width" type="text" class="form-control" id="outputAASize" placeholder="出力横幅">
            </div>
          </form>
          <img id="img-grayscale" class="img-thumbnail" :src="grayscaleImage.URL" v-on:load="grayscaleImageLoad">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Output AA {{ progressMessage }}</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-10">
            <div class="panel panel-default">
              <div class="panel-heading">Line Image</div>
              <div class="panel-body">
                <img class="img-thumbnail" :src="previewLineImage.URL">
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="panel panel-default">
              <div class="panel-heading">Patch Image</div>
              <div class="panel-body">
                <img class="img-thumbnail" :src="previewPatchImage.URL">
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-default" :data-clipboard-text="resultAA">Copy to clipboard</button>
        <textarea id="result_aa" class="form-control aa" rows=30 v-model="resultAA"></textarea>
      </div>
    </div>
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
