<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<style>
body {
   padding-top: 70px;
}
</style>

<div id="app" class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div id="app" class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">DeepAA on Web</a>
        <div class="navbar-text" v-if="modelLoading">
          Model Loading...{{ loadingProgress }}%
        </div>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/tar-bin/DeepAAonWeb" target="_new">DeepAAonWeb (GitHub)</a></li>
        <li><a href="https://github.com/OsciiArt/DeepAA" target="_new">DeepAA (GitHub)</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <h3>Original Image {{ inputImage.width }} x {{ inputImage.height }}</h3>
          <img id="img-input" class="img-thumbnail" :src="inputImage.URL" v-on:load="inputImageLoad">
        </div>
        <div class="col-md-6">
          <h3>Gray Scale Image {{ grayscaleImage.width }} x {{ grayscaleImage.height }}</h3>
          <img id="img-grayscale" class="img-thumbnail" :src="grayscaleImage.URL" v-on:load="grayscaleImageLoad">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <h3>Output AA</h3>
        <textarea class="form-control" style="height: 100%" v-model="resultAA"></textarea>
      </div>
    </div>
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
