<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<style>
@font-face{
    font-family: 'Saitamaar';
    src: url('fonts/Saitamaar.woff2') format('woff2'),
         url('fonts/Saitamaar.eot') format('eot'),
         url('fonts/Saitamaar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.aa {
    font-family: 'ＭＳ Ｐゴシック', 'MS PGothic', 'Saitamaar', 'IPAMonaPGothic' !important;
    line-height:18px;
    font-size:16px;
}

body {
   padding-top: 70px;
}

.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

#patch-guide {
  position: absolute;
  background-color: transparent;
  padding: 4px;
}

[v-cloak] {
  display: none;
}
</style>

<div id="app" class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div id="app" class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">DeepAA on Web</a>
        <div class="navbar-text" v-if="modelLoading" v-cloak>
          Model Loading...{{ loadingProgress }}%
        </div>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/tar-bin/DeepAAonWeb" target="_new">DeepAAonWeb (GitHub)</a></li>
        <li><a href="https://github.com/OsciiArt/DeepAA" target="_new">DeepAA (GitHub)</a></li>
      </ul>
    </div>
  </nav>
  <div class="col-xs-12 col-md-6">
    <div class="alert alert-info" role="alert">
      ※動作保証はGoogle Chromeのみです。画像を選択、加工後、Startボタンで実行してください。<br>
      現状、画面をリロードすると進行状況は破棄されますのでご注意ください。
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading" v-cloak>
          Original Image {{ inputImage.width }} x {{ inputImage.height }}
        </div>
        <div class="panel-body">
          <form class="form-inline">
            <div class="form-group">
              <input type="file" @change="onFileChange">
            </div>
          </form>
          <img id="img-input" class="img-thumbnail" :src="inputImage.URL" v-on:load="inputImageLoad">
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading" v-cloak>
          Input Image {{ grayscaleImage.width }} x {{ grayscaleImage.height }}
        </div>
        <div class="panel-body">
          <form class="form-inline">
            <div class="form-group">
              <label for="Output">Output Width:</label>
              <input v-model="outputAA.width" type="text" class="form-control" id="outputAASize" placeholder="出力横幅">
            </div>
          </form>
          <img id="img-grayscale" class="img-thumbnail" :src="grayscaleImage.URL" v-on:load="grayscaleImageLoad">
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Output AA</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-2 col-md-2">
            <p class="text-center" v-cloak>
              {{ '[' + outputAA.currentLineNum + ' / ' + outputAA.maxLineNum + '][' + outputAA.linePercentage + '%]'}}
            </p>
          </div>
          <div class="col-xs-10 col-md-10">
            <div class="progress">
              <div class="progress-bar" v-bind:style="{ width: outputAA.totalPercentage + '%' }" v-cloak>
                {{ progressMessage }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Line Image -->
          <div class="col-xs-10 col-md-10">
            <div class="panel panel-default">
              <div class="panel-heading">Line Image</div>
              <div class="panel-body" style="height: 104">
                <div style="position: relative">
                  <canvas class="img-thumbnail" ref="lineImageCanvas"
                          style="position: absolute"
                          :width="previewLineImage.width" height="64"></canvas>
                  <canvas ref="lineImagePatchGuideCanvas"
                          id="patch-guide"
                          v-bind:style="{ left: previewLineImage.patchGuidePosX }"
                          width="64" height="64"></canvas>
                </div>
              </div>
            </div>
          </div>
          <!-- Patch Image -->
          <div class="col-xs-2 col-md-2">
            <div class="panel panel-default">
              <div class="panel-heading">Patch Image</div>
              <div class="panel-body">
                <canvas class="img-thumbnail" width="64" height="64" ref="patchImageCanvas">
              </div>
            </div>
          </div>
        </div>
        <!-- Copy Button -->
        <button class="btn btn-default" :data-clipboard-text="resultAA.text">Copy to clipboard</button>
        <!-- Result AA -->
        <textarea id="result_aa" class="form-control aa" :rows="resultAA.rows" v-model="resultAA.text"></textarea>
      </div>
    </div>
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
